:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    height: 100%;
    width: 100%;
    position: relative;

    header {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;

        display: flex;
        justify-content: center;
        height: 80px;
        align-items: center;
    }

    main {
        order: 0;
        flex: 1 1 auto;
        align-self: auto;

        display: flex;
        background-color: #576671;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}
