:host {
    display: flex;
    min-height: 150px;
    background-color: #becbd9;

    img {
        width: 160px;
    }

    .content {
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;

      .title {
        font-weight: 600;
        font-size: 22px;
      }
    }
}
